<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339973935309-mgf7ukoa68261qjljn64b76992gpuuss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339973935309-mgf7ukoa68261qjljn64b76992gpuuss</string>
	<key>API_KEY</key>
	<string>AIzaSyDEmJNO8LACCsDYUjyLKubF-X8dFuXK4tI</string>
	<key>GCM_SENDER_ID</key>
	<string>339973935309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jina.DailyDiary</string>
	<key>PROJECT_ID</key>
	<string>dailydiary-a62b2</string>
	<key>STORAGE_BUCKET</key>
	<string>dailydiary-a62b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339973935309:ios:00bfe21fcc49354c765984</string>
</dict>
</plist>